body {
    background-color: #003300;
    color: #ccffcc;
    font-family: Verdana, sans-serif;
}
button {
    background-color: #66ff66;
    color: #003300;
    padding: 10px;
    border: none;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
input {
    padding: 5px;
    margin: 10px;
}
